<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Console_Server.Properties.Settings.psua0218_1026970ConnectionString"
            connectionString="Data Source=Kraka.ucn.dk;Initial Catalog=psua0218_1026970;User ID=psua0218_1026970;Password=Password1!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>